{% extends "base.html" %}
{#{% block title %}control panel{% endblock %}#}
{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for message in messages %}
                <hr/>
                {% if "Error" in message[1] %}
                    <div class="alert alert-danger">
                {% elif "Danger" in message[1] %}
                    <div class="alert alert-warning">
                {% else %}
                    <div class="alert alert-info">
                {% endif %}
            {{ message[1] }}
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form action="" method="post" role="form">
        {{ form.csrf }}
        <div class="form-group">

            <hr/>
            {% for proc in processes %}
                {% if proc.status %}
                    <div class="alert alert-success" role="alert">
                    {{ form[proc.btn_off](class="btn btn-warning") }}
                    <label for="name">{{ proc.label }}: running [view <a href=/logs/{{ proc.logfile | basename }}>log</a>]</label>
                {% else %}
                    <div class="alert alert-warning" role="alert">
                    {{ form[proc.btn_on](class="btn btn-success") }}
                    <label for="name">{{ proc.label }}: NOT running [view <a href=/logs/{{ proc.logfile | basename }}>log</a>]</label>
                {% endif %}
                </div>
            {% endfor %}

            <div class="alert alert-warning" role="alert">
                {% if mfcpoweroff %}
                {% else %}
                    {{ form.mfcpoweroff(class="btn btn-danger") }}
                    <label for="name">SHUTDOWN MFC</label>
                {% endif %}
            </div>
    </form>
{% endblock %}