{% extends "base.html" %}
{% block content %}
    <div class="form-group">
        <hr/>
        <div class="alert alert-danger" role="alert">
            {% if mfcpoweroff %}
                <label for="name">SHUTDOWN MFC&nbsp;<span id="countdowntimer">in 10 seconds.</span></label>
                <script type="text/javascript">
                    var timeleft = 10;
                    var downloadTimer = setInterval(function () {
                        timeleft--;
                        document.getElementById("countdowntimer").textContent = 'in ' + timeleft + ' seconds.';
                        if (timeleft <= 0) {
                            clearInterval(downloadTimer);
                            document.getElementById("countdowntimer").textContent = 'done. It is now safe to power off the simulator.';
                        }
                    }, 1000);
                </script>
            {% endif %}
        </div>
    </div>
{% endblock %}